<html lang="en_US">
<head>
    <title>*OIS*</title>
</head>
<body>
<h1>*OIS*</h1>
<p><a href="https://zkm.de/de/werk/ois">»*OIS* One-way Interaction Sculpture«</a> by Volker Morawe and Tilman Reiff combines a lamp, a physical switch, and a web site. This is a re-creation of their basic interaction pattern.</p>
<p>Click/tap the button below to turn the lamp on. Push the button on the outlet to turn it off.</p>
<button type="button" onclick='(function() {req = new XMLHttpRequest();req.open("GET", "/on");req.send();})();'>Turn Lamp On</button>
</body>
</html>